<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772366311772-6bijis5o70qa54riim1u01gh3o1qgokm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772366311772-6bijis5o70qa54riim1u01gh3o1qgokm</string>
	<key>API_KEY</key>
	<string>AIzaSyA6waXVk3at1tK5r_TXvhAXwkJRpoOrrDY</string>
	<key>GCM_SENDER_ID</key>
	<string>772366311772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenConnect</string>
	<key>PROJECT_ID</key>
	<string>greenconnect-a973b</string>
	<key>STORAGE_BUCKET</key>
	<string>greenconnect-a973b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772366311772:ios:1541711f659f39cb316199</string>
	<key>DATABASE_URL</key>
	<string>https://greenconnect-a973b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>